<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXpBOo1SGr1QEG11xaO2MLCNDA0-cnVTo</string>
	<key>GCM_SENDER_ID</key>
	<string>90008900610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fichajeAppMovil.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fichaje-alarbon</string>
	<key>STORAGE_BUCKET</key>
	<string>fichaje-alarbon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90008900610:ios:6d39072de85c8b4ec5031b</string>
</dict>
</plist>